.halloween-image {
    float: left;
}

.next-to-image {
    text-indent: 3%;
}

h1.page-title {
 font-size: 2em;
 font-style: italic;
 color: orange;
 text-shadow: 2px 2px black;
}

h1.welcome-message::first-letter {
    font-size: 2em;
    font-weight: bold;
}

a {
    font-weight:bold;
    color: orange;
}

a:hover {
    color: green;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

* {
    font-family: Georgia;
}

li {
    margin-top: 5px;
}