/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2016, 11:45:33 AM
    Author     : scottarmstrong
*/
* {
  font-family:  Georgia;
}

#sidebar a {
    color: black;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none;
    border: 2px solid black;
    display: inline-block;
    background: orange;
    width: 8em;
}

a {
    color: black;
}

a:hover, a:focus {
    color: green;
}

body {
  background-color: white;
  box-shadow: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 800px;
}

#cat-image {
    float:left;
}

#cat-description {
    margin-left: 11em;
}

footer {
  clear: both;
  background: orange;
  background: -webkit-linear-gradient(+45deg, black, orange 25%, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(+45deg, black, orange 25%, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(+45deg, black, orange 25%, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(+45deg, black, orange 25%, white); /* Standard syntax */
  border-top: #000 solid thin;
  font-size:  0.8em;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align:  center;
}

.halloween-image {
  float:  left;
  margin-bottom: auto;
  margin-left: 10px;
  margin-top: auto;
  position: absolute;               
  top: 50%;                         
  transform: translate(0, -50%) 
}

h1.page-title {
  font-size:  1.75em;
  padding-top: 10px;
}

h1.welcome-message {
    margin-top:0;
}

h1.welcome-message::first-letter {
  font-size:  2em;
  font-weight:  bold;
}

#home-banner {
  background: orange;
  background: -webkit-linear-gradient(+45deg, white, orange 75%, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(+45deg, white, orange 75%, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(+45deg, white, orange 75%, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(+45deg, white, orange 75%, black); /* Standard syntax */
  border-bottom: #000 solid thin;
  position: relative;
}

#horizontal-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0;
    background: black;
}

#horizontal-nav-bar li {
    display: inline;
}

#horizontal-nav-bar a {
    padding: 0.5em 2.47em;
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#horizontal-nav-bar a:hover {
    background: grey;
}

html {
  background-image: url(../images/bats.gif);
}

li {
  margin-top:  5px;
}

.main {
  margin-bottom: 0px;
  margin-left: 170px;
  margin-right: 10px;
  margin-top: 5px;
}

.next-to-image {
  margin-left: 105px;
}

.product-image {
    width: 80px;
    height: 90px;
}

#product-list {
    margin-left: 20px;
}

#product-sidebar {
    float: right;
    width: 180px;
    background: #f5deb3;
}

#product-sidebar-title {
    font-size: 1em;
    margin-left: 10px;
}

#sidebar {
  float: left;
  width:160px;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 10px;
}


